version: "3.9"

services:
  mongo:
    image: mongo
    container_name: law-mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    ports:
      - "27017:27017"
    networks:
      - app_network

  backend:
    build: .
    container_name: law-backend
    restart: always
    env_file: .env
    depends_on:
      - mongo
    ports:
      - "8000:8000"
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
