version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: law-mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    ports:
      - "27019:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app_network

  backend:
    image: 423623836938.dkr.ecr.ap-southeast-1.amazonaws.com/lafirm-backend:latest
    container_name: law-backend
    restart: always
    env_file:
      - .env
    depends_on:
      - mongo
    ports:
      - "8092:${PORT}"
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  mongo_data:
