version: "3.9"

services:
  mongo:
    image: mongo
    container_name: law-mongo
    restart: always
    volumes:
      - mongo-data:/data/db

  backend:
    build: .
    container_name: law-backend
    restart: always
    environment:
      NODE_ENV: production
      PORT: 8000
      MONGO_URI: mongodb://mongo:27017/lawfirm
      JWT_SECRET: ${JWT_SECRET}
    depends_on:
      - mongo
    ports:
      - "8000:8000"

volumes:
  mongo-data:
